.navbar {
  background: #394156;
}

.nav-link{
  color: #F0DDBC;
}

.nav-link:hover{
  color: #ffc664;
}

.nav-item::after {
  content: '';
  display: block;
  width: 0px;
  height: 1px;
  background: #ffc664;
  transition: 0.4s
}

.nav-item:hover::after {
  width: 100%
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #F0DDBC;
}

.nav-link {
  padding: 25px 5px;
  font-size: 20px;
  transition: 0.2s
}
/* .nav-link active :hover{
  color: #394156;
} */
.cimg{
  height: 95vh;

}

.about{
  background-color: #394156;
}

.aboutSection{
  padding-top: 120px;
  font-size: 65px;
  display: flex;
  flex-direction: column;
  padding-bottom: 120px;
  color: #F0DDBC;
  background-color: #394156;
}

.aboutSection p{
  padding-top: 20px;
  font-size: 15px;
}

.aboutImageSection{
  padding-top: 120px;
  font-size: 45px;
  padding-bottom: 120px;
}

 

.packagesSection h2{
  font-size: 45px;
}

.card{
  width: 350px;
  height: 400px;
  padding: 2em;
}


.galleryHeader{
  font-size: 45px;
  padding-top: 20px;
  font-size: 72px;
  background: -webkit-linear-gradient(#394156, #F0DDBC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.amenitiesSection{
  background-color: #394156;
  color: #F0DDBC;
  padding-top: 40px;
  padding-bottom: 40px;
}

.amenities-card{
  border: 4px solid #F0DDBC
}

.amenities-card:hover{
  border: 4px solid #F0DDBC;
  box-shadow: 5px 10px #F0DDBC;
  margin-top: 10px;
}


.packagesSection{
  padding-top: 40px;
  height: 100vh;
  padding-bottom: 40px;
  background-color: #F0DDBC;
  color: #394156;
}

.packagesdetails{
  font-size: 14px;
}

.heading{
  text-align: center;
  font-size: 45px;
  padding-top: 20px;
  padding-bottom: 20px;
}


.amenitiesImg{
  min-height: 200px;
}
.packagesCard{
  border: 2px solid #394156;
}

.packagesCard:hover{
  border: 1px solid #394156;
  margin-top: 10px;
  box-shadow: 5px 15px #394156;
}

.packagesHeading{
  text-align: center;
}
.contactUs{
  background-color: #F0DDBC;

}

.aboutImg{
  max-width: 500px;
}

.footer-left{
  padding-top: 80px;
  padding-left: 40px;
}

.footerSection{
  display: flex;
  flex-direction: column;
}
.footer-mid{
  padding-bottom: 50px;
}

.faqContainer{
  background-color: #394156;
  color: #F0DDBC;
  padding-top: 60px;
  padding-bottom: 20px;
}

/* .imgHero{
  object-fit: contain;
  min-height: 100vh;
} */

.accordion-button:not(.collapsed) {
  background-color: oldlace;
  color: black;
  border: none;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}

.gallerySection{
  background-color: #F0DDBC;
  color: #394156;
}

.accordion-header{
  background-color: antiquewhite;
}

.accordion-button{
  background-color: antiquewhite;
}


.form-group{
  margin-top: 40px;
  border: 2px solid #394156;
  outline: none;
  min-width: 50vw;
}

textarea{
  max-height: 90px;
  border: 2px solid #394156;
}

.btn-primary{
  margin-top: 140px;
  width: 10vw;
  height: 5vh;
}

/* .ContactUs{
  background-image: url('./images/contactBg.svg');
} */

/* .contactUs{
  background-color: #F0DDBC;
} */

.mapSection{
  padding-left: 20px;
  justify-content: center;
  align-items: center;
}


.btn-primary{
  margin-top: 10px;
  margin-bottom: 20px;
}

.landingHeader{
  font-size: 6rem;
  width: 100vw;
  padding-left: 60px;
  margin-left: 90px;
  color: #394156;
}

.contactFormSection{
  background-color: #394156;
  border: dashed 2px #394156;
}

.contactHeading{
  color: #F0DDBC;
}

.form-control{
  background-color: #394156;
  color: #F0DDBC;
}

#contactlabels{
  color: #F0DDBC;
  align-items: start;
  margin-right: 90%;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: red;
}


.license{
  font-size: 11px;
}
.footerSection{
  background-color: #394156;
  color: #F0DDBC;
}
.footer-socials-header{
  padding-top: 20px;
}
.footer-socials{
  padding-right: 40px;
  text-decoration: none;
}

.footer-socials-name{
  list-style-type: none;
}

.amenities-card-title{
  color: #394156;
}

.card:hover{
  -webkit-box-shadow: 17px 19px 15px -4px rgba(0,0,0,0.75);
-moz-box-shadow: 17px 19px 15px -4px rgba(0,0,0,0.75);
box-shadow: 17px 19px 15px -4px rgba(0,0,0,0.75);
}
.amenities-card-text{
  color: #394156;
}




#about{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

#landing{
  min-height: 100vh;
}

#amenities{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  
}



#FAQ{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  background-color:#394156
}





#footer{
  min-height: 40vh;
}

#gallery{
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
}


.head-text {
  position: relative;
}
.text-on-image {
 position: absolute;
 right: 50%;
 left: 20%;
 bottom: 45%;
}





.whatsapp_float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #25d366;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  font-size: 30px;
  box-shadow: 2px 2px 3px #999;
  z-index: 99999;
}

.socials{
  text-decoration: none;
  margin-right: 20px;
  color: #F0DDBC;
}

.whatsapp-icon {
  margin-top: 16px;
}

/* for mobile */
@media all and (max-width: 767px) {
  .whatsapp-icon {
      margin-top: 10px;
  }

  .whatsapp_float {
      width: 40px;
      height: 40px;
      bottom: 20px;
      right: 10px;
      font-size: 22px;
      /* z-index: 999; */
  }
}

@media all and (max-width: 368px) {
  .imgHero {
    min-height: 100vh;
    object-fit:cover;
  }

  .contactSection{
    flex-direction: column;
  }

  .form-group{
    max-width: 20vw;
  }

  .landingHeader{
    font-size: 40px;
  }

  .contactFormSection{

    min-width: 280px;
  }


  .aboutImg{
    max-width: 320px;
  }


}
@media all and (max-width: 1000px){
  .imgHero{
    min-height: 100vh;
    object-fit: cover;
  }

  .form-control
  {
    min-width: 80vw;
  }

  #contactlabels{
    margin-right: 280px;
  }

  .contactFormSection{
    min-width: 380px;
  }


  .aboutImg{
    max-height: 300px;
    padding-top: 0;
    margin-bottom: 20px;
  }

  .landingHeader{
    font-size: 90px;

align-items: center;
justify-content: center;
text-align: center;    /* width: 100vw; */
  /* padding-left: 10px; */
  /* margin-left: 0px; */
  color: #394156;
  }
}

